[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
pymysql = "*"
cryptography = "*"
pillow = "*"
django-countries = "*"
django-debug-toolbar = "*"
django-seed = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.11"
